/* Styles */
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    margin: 0;

    padding: 0;
}
/* To banner */
#topBanner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(245, 104, 170, 0.808)), url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
}

.banner-text {
    color: beige;

    text-align: center;
    padding-top: 200px;
}
.banner-text h1 {
    font-family: 'Niconne', cursive;
    color: white;
    font-size: 3.2em;
}
.banner-text p {
    font-family: 'Montserrat', sans-serif;
    color: rgb(235, 188, 217);
    font-size: 1.8em;
}
.logo {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    position: absolute;
    top: 5%;
    left: 8%;
}

/* banner button */
.banner-btn {
    margin: 50px auto 0;
}
.banner-btn a {
    width: 120px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px 0 0;
    border: 0.5px solid white;
    padding: 12px 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    position: relative;
    z-index: 1;
}
.banner-btn a span {
    width: 0%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.banner-btn a:hover span {
    width: 100%;
    transition: 0.5s;
}
.banner-btn a:hover {
    color: rgb(245, 104, 170);
    transition: 0.5s;
}

@media screen and (max-width: 770px) {
    #topBanner {
        height: 50vh;
    }
    .banner-text {
        padding-top: 150px;
    }
    .banner-btn {
        margin: 30px auto 0;
    }
}
/* Side navigation */

#sideNavigation {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(146, 39, 119, 0.877);
    box-shadow: rgba(146, 39, 119, 0.877);
    transition: 0.5s;
}
nav ul li {
    list-style: none;
    margin: 50px 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
#menuButton {
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}

#menuButton img {
    width: 35px;
    margin: 7.5px;
    transition: 0.5s;
}

/* services */

#service {
    width: 100%;
    padding: 70px 0;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}

.title-text p {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color: #c28abc;
}

.title-text h1 {
    font-size: 50px;
}

.service-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.services {
    flex-basis: 50%;
}

.services-img {
    flex-basis: 50%;
    margin: auto;
}

.services-img img {
    width: 70%;
    border-radius: 10px;
}

.services h1 {
    text-align: left;
    margin-bottom: 20px;
    font-weight: 100;
    color: #b279a7;
}

.service-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.service-icon .fas {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    color: #b279a7;
    border: 1px solid #9c6496;
    border-radius: 8px;
}

.service-text {
    padding: 0 20px;
    text-align: initial;
}

@media screen and (max-width: 770px) {
    .title-text p {
        font-size: 15px;
    }

    .title-text h1 {
        font-size: 25px;
    }

    .services {
        flex-basis: 100%;
    }

    .services-img {
        flex-basis: 100%;
    }

    .services-img img {
        width: 100%;
    }
}

/* Product */
#product {
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}

.product-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.product-item {
    flex-basis: 48%;
    text-align: center;
    justify-content: space-around;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white;
    position: relative;
}

.product-item img {
    width: 100%;
    border-radius: 7px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), white);
    opacity: 0;
    transition: 1s;
}

.product-item:hover .overlay {
    opacity: 1;
}

.product-desc {
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
    color: black;
}

.product-desc h3 {
    margin-bottom: 10px;
}

.product-desc p {
    font-size: 14px;
}

.product-item:hover .product-desc {
    opacity: 1;
    bottom: 40%;
}

@media screen and (max-width: 770px) {
    .product-item {
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .product-desc p {
        font-size: 12px;
    }

    .product-item:hover .product-desc {
        opacity: 1;
        bottom: 30%;
    }
}

/*--- Testimonials --*/
#testimonial {
    width: 100%;
    padding: 70px 0;
}

.testimonial-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonial-col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

.testimonial-col p {
    font-size: 14px;
}

.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}

.user-info .fab {
    margin-left: 10px;
    font-size: 20px;
    color: #27c0ff;
}

.user-info small {
    color: #c28abc;
}

.testimonial-col:hover {
    transform: translateY(-20px);
}

@media screen and (max-width: 770px) {
    .testimonial-col {
        flex-basis: 100%;
    }
}

/*-- Footer --*/
#footer {
    padding: 70px 0 20px;
    background: #efefef;
}

.footer-row {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left,
.footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right {
    text-align: right;
}

.footer-row h1 {
    margin: 10px 0;
}

.footer-row p {
    line-height: 30px;
}

.footer-left .far,
.footer-right .fas {
    color: #9c6496;
    font-size: 20px;
    margin: 10px;
}

.social-links {
    text-align: center;
}

.social-links .fab {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #9c6496;
    color: #9c6496;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    margin: 5px;
}

.social-links .fab:hover {
    background: #c28abc;
    color: white;

    transform: scale(115%);
}

.social-links p {
    margin-top: 20px;
    font-size: 12px;
}

@media screen and (max-width: 770px) {
    .footer-left,
    .footer-right {
        flex-basis: 100%;
        font-size: 14px;
    }
}
