/* Styles */
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    margin: 0;

    padding: 0;
}
/* To banner */
#topBanner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(245, 104, 170, 0.808)), url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
}

.banner-text {
    color: beige;

    text-align: center;
    padding-top: 200px;
}
.banner-text h1 {
    font-family: 'Niconne', cursive;
    color: white;
    font-size: 3em;
}
.banner-text p {
    font-family: 'Montserrat', sans-serif;
    color: rgb(235, 188, 217);
    font-size: 1.8em;
}
.logo {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    position: absolute;
    top: 5%;
    left: 8%;
}

/* banner button */
.banner-btn {
    margin: 50px auto 0;
}
.banner-btn a {
    width: 120px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px 0 0;
    border: 0.5px solid white;
    padding: 12px 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    position: relative;
    z-index: 1;
}
.banner-btn a span {
    width: 0%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.banner-btn a:hover span {
    width: 100%;
    transition: 0.5s;
}
.banner-btn a:hover {
    color: rgb(245, 104, 170);
    transition: 0.5s;
}
